/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/docs
/public/mix-manifest.json
/storage/*.key
/vendor
resources/*/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
npm-debug.log
